.newQuestion-form {
    margin: 2% 0 0 25%;
}

.newQuestion-title {
    margin-top: 2em;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    font-weight: 700;
}