.questionInfo-author-list {
    margin: 3em 25% 0 25%;
}

.questionInfo-author-title {
    margin-top: 2em;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    font-weight: 700;
}

.questionInfo-question-list {
    width: 50%;
    color: #000;
}

.questionInfo-voted-list {
    width: 50%;
    background-color: #000;
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border: 1px solid #e0e0e0;
    font-size: 15px;
    height: 7em;
}

.back-btn {
    width: 100%
}